<div class="main-content page-m">
    <div class="section-content section-content-30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer formGroup -->
                <form formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- shipping address formGroup -->
                <form formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" type="text">
                                    <option *ngFor="let state of states">
                                        {{state}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select
                                    formControlName="country"
                                    type="text"
                                    (change)="updateStates($event)">
                                    <option *ngFor="let country of countries">
                                        {{country.countryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>ZipCode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Add checkout to copy shipping to billing -->
                <div class="mb-5">
                    <input #inputCheckbox
                        type="checkbox"
                        class="me-4"
                        id="checkbox__sameAddress"
                        (change)="copyShippingAddressToBillingAddress(inputCheckbox.checked)">
                    <label for="checkbox__sameAddress">
                        <span>Billing Address same as Shipping Address</span>
                    </label>
                </div>

                <!-- billing address formGroup -->
                <form formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" type="text">
                                    <option *ngFor="let state of states">
                                        {{state}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select
                                    formControlName="country"
                                    type="text"
                                    (change)="updateStates($event)">
                                    <option *ngFor="let country of countries">
                                        {{country.countryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>ZipCode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- credit card formGroup -->
                <form formGroupName="creditCard" class="form-area">
                    <h3>Credit card</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select>
                                    <option value="">Select Card Type</option>
                                    <option value="1">Visa</option>
                                    <option value="2">Master Card</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name on card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select
                                    #selectedYear
                                    formControlName="expirationYear"
                                    (change)="handleMonthsAndYears(selectedYear.value)">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                
                <!-- Order reviewing details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>